<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yet Another To-Do List</title>
    <script src="index.js" type="module"></script>
  </head>
  <body>
    <div id="app">
      <h1>ToDo List</h1>

      <!-- method="task" and v-model="task" can be use interchangeably in this case!!-->
      <ul v-for="(task,i) in tasks" v-model="task">
        <li>
          <input type="checkbox" />
          <input type="text" />
          <button @click="deleteItem(i)">X</button>
        </li>
      </ul>

      <div>
        <button @click="addItem()">add items</button>
        <button @click="clearCompleted()">clear completed</button>
      </div>
    </div>
  </body>
</html>
